:root {
    --main: #4420ba;
    --secondary: #980691;
}


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* Start of navbar */
.logo-nav {
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline overline var(--secondary);
    color:#6244C5;
    margin-bottom: 0px;
}

.nav-dot {
    font-weight: bolder;
    color: red;
}

/* .nav-menu li a {
    color: #3e3d3d;
}

.nav-menu li a:hover {
    color: #3e3d3d;
    text-decoration: underline;
}

.nav-menu li a:active {
    color: #3e3d3d;
    text-decoration: underline black;
    
} */

.nav-button {
    border: 2px solid var(--secondary);
    border-radius: 18px;
    text-decoration: none;
    color: var(--main);
    padding:  10px 32px 10px 32px;
    float: left;
}


 /* end of NavBar */


/* starts Home CSS */
.home {
    padding: 1% 5% 0 11%;
}

.home-myname {
    padding-top: 16%;
    font-weight: 700;
    word-wrap: break-word;
}
.home-dash {
    margin: 3px 0 2.8em 3%;
    letter-spacing: -2px;    
}

.home-position {
    font-size: 22px;
    padding-bottom: 2.8em;
    letter-spacing: 0px;
    padding-left: 20px;
    overflow-wrap: anywhere;
}

.home-description {
    padding: 0 50% 2em 0;
    text-align: left;
}

.home-hello {
    background-color: var(--main);
    border: 2px solid var(--secondary);
    border-radius: 18px;
    text-decoration: none;
    color: white;
    padding:  10px 32px 10px 32px;
    margin: 0 0 2px 0;
}

.home-email {
    font-size: 22px;
    padding: 4px 0 0 4px;
}

.home-my-works {
    background-color: white;
    border: 2px solid var(--secondary);
    border-radius: 18px;
    text-decoration: none;
    color: var(--main);
    padding:  10px 32px 10px 32px;
    margin: 2px 0 0 0;
}

    .home-hello:hover, .home-my-works:hover{
        background-color: var(--secondary);
        border: 2px solid var(--main);
        color: white;
    }

.home-arrow {
    font-size: 22px;
    padding: 4px 0 0 4px;
}

.home-social-list {
    display: flex;
    padding-top: 3em;
}

.home li{
    list-style: none;
    text-align-last: start;
    padding-top: 1.8em;
    padding-right: 1em;
}
.home-follow {
    font-size: 22px;
}

.home-image {
    max-width: 46.1%;
    max-height: auto;
    float:right;
    margin-top:0px;
    z-index: -1;
}

/* Ends Home CSS */

/* Start About CSS */
.about {
    padding: 2% 5% 2% 11%;
    background-color: var(--main);
}
.about-col {
    background-color: #F8C447;
}
.about-year {
    font-size: 20em;
    color: var(--main);
    font-weight: 900;
}
.about-experience {
    font-size: 2em;
    margin-bottom: 0em;
}
.about-name {
    font-size: 6em;
    font-weight: 900;
    color: var(--main);
}
.about-about {
    font-size: 4em;
    color: white;
    font-weight: 900;
    margin: 18% 12% 0 10%;
}
.about-dash {
    margin: 3px 0 2.8em 3%;
    font-size: 20px;
    letter-spacing: -3px;    
}

.about-detail {
    margin: 7% 16% 0 10%;
    font-size: 1em;
    color: white;
}

.about-cv {
    background-color: var(--secondary);
    border: 2px solid var(--main);
    border-radius: 18px;
    text-decoration: none;
    color: white;
    padding:  10px 32px 10px 32px;
    margin: 10% 0 2px 10%;
}

.about-cv-logo {
    font-size: 22px;
    padding: 4px 0 0 4px;
}

.about-cv:hover{
    background-color: var(--main);
    border: 2px solid var(--secondary);
    color: white;
}

.about-expert {
    font-size: 4em;
    font-weight: 900;
    color: black;
    margin: 7% 0 0 10%;
}

.expert-detail {
    margin: 7% 0 0 10%;
    font-size: 1em;
    color: black;
}
.tab-btn {
    margin: 10% 3.5% 0 3.5%;
}
.about-tabs {
    background-color: white;
    border: 2px solid var(--secondary);
    border-radius: 18px;
    text-decoration: none;
    color: var(--main);
    padding:  10px 32px 10px 32px;
    margin: 2px 10% 0 0%;
}
.about-tabs:hover {
    background-color: var(--main);
    border: 2px solid var(--secondary);
    color: white;
}
.about-tabs:active {
    background-color: var(--main);
    border: 2px solid var(--secondary);
    color: white;
}
.tab-content {
    margin: 6% 0 0 5%;
}
.about-card {
    margin: 0 0 5% 0;
}
.about-card-top {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: black;
    display: inline-block;
    position: relative;
    margin-bottom: 4px;
}
.about-card-top-in {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 6px;
}
.about-icon {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 16px;
    height: 16px;
}
.progress {
    margin: 2% 0 2% 0;
}
.about-progress-percentage {
    background-color: var(--secondary);
}
.about-card-title {
    font-size: 20px;
}
.card-percentage {
    font-weight: 600;
}
.exp-date {
    color: #6244C5;
    font-size: 18px;
    margin-bottom: 0px;
}
.exp-company {
    font-size: 20px;
    margin-bottom: 2px;
}
.exp-dash {
    letter-spacing: -2px; 
    margin-bottom: 0px;
}
.exp-position {
    font-size: 28px;
}
.counter {
    padding: 5% 5% 0 5%;
}
.about-round {
    position: relative;
    content: "";
    width: 64px;
    height: 64px;
    background-color: #FFC448;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.about-count{
    font-weight: 800;
}
.about-count-title {
    text-align: center;
}

/* Start contact page CSS */
.contact {
    background-color: #252121;
    padding: 1% 5% 0 11%;
}
.contact-form-col {
     margin-right: 1.5%;   
}
.form-label {
    color: white;
}
.btn-message {
    margin: 0 0 10% 0;
}
.contact-me {
    color: white;
    font-size: 3em;
    font-weight: 800;
}
.contact-head {
    color: white;
    font-size: 2em;
    font-weight: 800;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
}
.contact-paragraph {
    color: white;
    font-size: 1.5em;
    margin: 10% 1.5% 10% 1.5%;
}
/* End contact page CSS */